/*
* @Author: Administrator
* @Date:   2018-01-04 17:56:21
* @Last Modified by:   Administrator
* @Last Modified time: 2018-01-11 14:46:45
*/
@import url('bace.css');
@font-face {
	font-family: 'iconfont';  /* project id 531082 */
	src: url('https://at.alicdn.com/t/font_531082_c31n5zg3xboz85mi.eot');
	src: url('https://at.alicdn.com/t/font_531082_c31n5zg3xboz85mi.eot?#iefix') format('embedded-opentype'),
	url('https://at.alicdn.com/t/font_531082_c31n5zg3xboz85mi.woff') format('woff'),
	url('https://at.alicdn.com/t/font_531082_c31n5zg3xboz85mi.ttf') format('truetype'),
	url('https://at.alicdn.com/t/font_531082_c31n5zg3xboz85mi.svg#iconfont') format('svg');
}
.iconfont{
	font-family: 'iconfont';
}
body{
	height: auto;
}
.head{
	width: 100%;
	height: auto;
	padding: 0.05rem 0;
	 background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
      box-shadow: 0 0 0.1rem 0.01rem rgba(0, 0, 0, 0.3);
}
.head .headli{
	padding: 0.02rem 0.2rem;
	background:#fff; 
	height: 0.4rem;
	border-bottom: 1px solid #c0c0c0;
}
.head .headli li{
	width: auto;
	float: left;
	height: 0.4rem;
}
.head .headli li:first-child{
	margin-right: 0.08rem;
}
.head .headli li .dingwei{
	font-size: 0.15rem;
	width: auto;
	height: 0.4rem;
	line-height: 0.4rem;
}
.head .headli li .sou{
	width:auto;
	height: auto;
	margin: 0.04rem 0  0 0; 
	float: right;
}
.head .headli li .iconfont{
	transform: rotate(90deg);
	font-size: 0.2rem;
	color: #c8c6ce;
	line-height: 0.32rem;
	display: block;
}
.head .shu{
	width: 100%;
	height: auto;
}
.head .shu input{
	outline: none;
	border: none;
	width: 100%;
	height: auto;
	/*color: #58c5c7;*/
	text-align: center;
	font-size: 0.13rem;
	padding:0.1rem 0rem;
}
.head .shu input::-webkit-input-placeholder{
	color:#3879D9;
}
.bus{
	width: 100%;
	height: auto;
	margin-bottom: 0.4rem;
	margin-top: 0.81rem;
}
.bus ul{
	padding: 0.1rem;
	box-sizing: border-box;
	background: #Fff;
}
.bus ul li{
	padding: 0.04rem 0;
}
.bus ul li,.bus ul li .bust{
	width: 100%;
}
.bus ul li .bust{
	display: flex;
	align-items: center;
}
.bus ul li .bust i{
	color:#3879D9 ;
	font-size: 0.3rem;
	font-style: normal;
	margin-right: 0.05rem;
}
.bus ul li .busb{
	padding: 0.05rem 0.1rem;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	background: #fff;
	overflow: hidden;
}
.bus ul li .busb .br{
	width:auto;
	height: auto;
	float: right;
	overflow: hidden;
}
.bus ul li .busb p{
	display: inline-block;
	width: auto;
	height: auto;
	font-size: 0.08rem;
	color: #696969;
	float: left;
}
.bus ul li .busb p strong,.bus ul li .busb .br p strong{
	font-size: 0.15rem;
	font-weight: 600;
	color: #000000;
}
/*.bus ul li .busb .br p{*/
	/*float: right;*/
	/*padding-left: 0.5rem;*/
	/*padding-right: 0.05rem;*/
/*}*/
.bus ul li .busb  .br i{
	color:#E6E6E6;
	font-size: 0.15rem;
	font-style: normal;
	margin-right: 0.05rem;margin-left: 0.08rem;

	padding-left: 0.1rem;
	border-left: 1px solid #E6E6E6;
	line-height: 37px;
	float: right;
}
/* tab */
.tab{
	width: 100%;
	height: auto;
	padding: 0.05rem 0;
	background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 998;
   box-shadow: 0 0 0.1rem 0.01rem rgba(0, 0, 0, 0.3);
}
.tab ul{
	width: 100%;
	height: auto;
     display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.tab ul li{
	width: auto;
	height: auto;
}
.tab ul li{
	width: auto;
	height: auto;
}
.tab ul li a{
  display: block;
}
.tab ul li a .iconfont{
  font-style: normal;
  font-size: 0.2rem;
  color: #7a7fa4;
}
.tab ul li a p{
	font-size: 0.12rem;
	color: #7a7fa4;
}
.tab ul li:nth-child(3) a .iconfont{
  font-style: normal;
  font-size: 0.2rem;
}
.tab ul li:nth-child(3) a p{
	font-size: 0.12rem;
}